*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar-track {
  background: #0A0C10;
}

::-webkit-scrollbar {
  width: 8px;
  background: #959698;
}

::-webkit-scrollbar-thumb {
  background: #B31317;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0A0C10;
  overflow-x: hidden;
  overflow-y: hidden;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #EDF1F7;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 16px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.w-auto {
  width: auto;
}

.align-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 36px 16px;
  overflow: none;
  height: 100vh;
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}

.container-item-1 {
  max-width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-item-1 p {
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .container-item-1 p {
    text-align: center;
    width: 90%;
    margin: 14px auto 20px auto;
  }
}

.spiderman {
  width: 130%;
  -webkit-transform: translate3d(-170px, 0, 0);
          transform: translate3d(-170px, 0, 0);
}

@media screen and (max-width: 960px) {
  .spiderman {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 960px) {
  .item-3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 25%;
  height: 70%;
  border-radius: 3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 25%;
  height: 70%;
  border-radius: 3px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn:hover {
  -webkit-transform: skew(-10deg) scale(1.05);
          transform: skew(-10deg) scale(1.05);
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .btn {
    margin-bottom: 10px;
  }
}

.btn-secondary {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  text-transform: uppercase;
  background: transparent;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 2px solid #EA1D22;
}

.btn-secondary::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -2px;
  z-index: -1;
  width: 0%;
  height: 104%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
}

.btn-secondary:hover::after {
  width: 102%;
}

@media screen and (max-width: 960px) {
  .btn-secondary {
    margin-left: -16px !important;
  }
}

@media screen and (max-width: 960px) {
  .item-4 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 14px !important;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-video::after {
  content: "";
  width: 102vw;
  height: 102vh;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(110deg, #0A0C10 25%, rgba(11, 12, 16, 0.8) 50%, #0A0C10 70%);
}

.bg-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: linear-gradient(225deg, #14181F 0%, #0A0C10 100%);
}

.container-bg-secao {
  width: 100%;
  height: 750px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0a0c10), to(#14181f));
  background: linear-gradient(180deg, #0a0c10 0%, #14181f 100%);
}

@media screen and (max-width: 960px) {
  .container-bg-secao {
    height: auto;
  }
}

.container-conteudo {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 960px) {
  .container-conteudo {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.container-img-story {
  width: 50%;
  height: inherit;
}

@media screen and (max-width: 960px) {
  .container-img-story {
    width: 100%;
    overflow: hidden;
  }
}

.container-img-story img {
  width: 140%;
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
}

@media screen and (max-width: 960px) {
  .container-img-story img {
    width: 100%;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
  }
}

.container-conteudo-story {
  width: 50%;
  height: inherit;
}

@media screen and (max-width: 960px) {
  .container-conteudo-story {
    width: 100%;
  }
}

.titulo {
  width: 100%;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

@media screen and (max-width: 960px) {
  .titulo {
    height: 64px;
  }
}

.titulo h1 {
  font-size: 80px;
  color: #E5E9EF;
  font-weight: 300;
  letter-spacing: 3px;
  position: absolute;
}

@media screen and (max-width: 960px) {
  .titulo h1 {
    font-size: 48px;
  }
}

.titulo h1:nth-child(1) {
  z-index: 999;
}

.titulo h1:nth-child(2) {
  opacity: 0;
  color: #EA1D22;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.titulo::after {
  content: "";
  width: 550px;
  height: 2px;
  background-color: #B31317;
  position: absolute;
  bottom: -15px;
  margin-right: -16px;
  -webkit-box-shadow: 0 0 16px #B31317;
          box-shadow: 0 0 16px #B31317;
}

@media screen and (max-width: 960px) {
  .titulo::after {
    width: 65%;
    right: 9%;
  }
}

.story {
  width: 470px;
  height: 500px;
  background-color: #14181f;
  margin: 0 auto;
  margin-top: 64px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.story p {
  width: 330px;
  color: #B5B6B8;
  font-weight: 100;
  font-size: 20px;
  margin: auto 0;
}

@media screen and (max-width: 960px) {
  .story p {
    font-size: 17px;
  }
}

.story:hover {
  text-shadow: 4px 4px 4px black;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-color: #0a0c10;
}

@media screen and (max-width: 960px) {
  .story {
    width: 80%;
    height: auto;
    padding: 24px;
    -webkit-transform: skew(-6deg);
            transform: skew(-6deg);
  }
}

#wallpaper {
  background: -webkit-gradient(linear, left top, left bottom, from(#14181f), color-stop(45.31%, #272a31));
  background: linear-gradient(180deg, #14181f 0%, #272a31 45.31%);
}

#wallpaper .container-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wallpaper .titulo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  #wallpaper .titulo {
    padding-left: 16px;
  }
}

@media screen and (max-width: 960px) {
  #wallpaper .titulo::after {
    width: 65%;
    left: 4%;
  }
}

#wallpaper h1:nth-child(2) {
  margin-left: 5px;
}

.container-carrossel {
  width: auto;
  height: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-carrossel .prev,
.container-carrossel .next {
  width: auto;
  height: auto;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.container-carrossel .prev img,
.container-carrossel .next img {
  width: 60px;
  height: auto;
  margin-top: -80px;
}

@media screen and (max-width: 960px) {
  .container-carrossel .prev img,
  .container-carrossel .next img {
    width: 40px;
    margin-top: -70px;
  }
}

.container-carrossel .prev .prev,
.container-carrossel .next .prev {
  margin-left: -100px;
}

.container-carrossel .prev .next,
.container-carrossel .next .next {
  margin-right: -100px;
}

.carrossel {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .carrossel {
    width: 76%;
  }
}

.carrossel .center {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 960px) {
  .carrossel .center {
    height: 200px;
  }
}

.carrossel .center .slick-list {
  height: 500px;
}

@media screen and (max-width: 960px) {
  .carrossel .center .slick-list {
    height: 300px;
  }
}

.carrossel .center .carousel-item {
  height: 250px;
  margin-top: 80px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  outline: none;
}

@media screen and (max-width: 960px) {
  .carrossel .center .carousel-item {
    height: 150px;
    margin-top: 30px;
  }
}

.carrossel .center img {
  width: 100%;
  height: 100%;
  background-color: #0A0C10;
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  z-index: -1;
  position: relative;
}

.carrossel .center .slick-center {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.6, 1.4) !important;
          transform: scale(1.6, 1.4) !important;
  border: 1px solid #B31317;
  -webkit-box-shadow: 5px 5px 5px #0A0C10;
          box-shadow: 5px 5px 5px #0A0C10;
}

.carrossel .center .slick-center img {
  -webkit-filter: none;
          filter: none;
  z-index: 999 !important;
}

.carrossel .center .slick-arrow {
  display: none;
}

.container-botao {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .container-botao {
    width: auto;
  }
}

footer {
  width: 100%;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#272a31), to(#B31317));
  background: linear-gradient(180deg, #272a31 0%, #B31317 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 960px) {
  footer {
    height: 140px;
  }
}

footer h1 {
  font-size: 30px;
  color: #E5E9EF;
  font-weight: 300;
  letter-spacing: 3px;
  position: absolute;
  font-style: italic;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: none;
}

footer h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 960px) {
  footer h1 {
    font-size: 22px;
  }
}

footer h1:nth-child(1) {
  z-index: 999;
}

footer h1:nth-child(2) {
  margin-right: 5px;
  color: #EA1D22;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#nav-header.change {
  background: linear-gradient(110deg, #0A0C10 25%, rgba(11, 12, 16, 0.8) 50%, #0A0C10 70%);
  height: 300px;
  z-index: 1000;
}

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

#logo {
  max-width: 88px;
  cursor: pointer;
}

.nav-link {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  color: #959698;
  padding: 8px 14px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  width: 2px;
  height: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 29, 34, 0)), to(#e91d22));
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #e91d22 100%);
}

.nav-link:hover {
  color: #F4F7FB;
}

.nav-link:hover::after {
  height: 40px;
}

#nav-list-mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  #nav-list-mobile.change {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: animateSticky 0.5s ease;
            animation: animateSticky 0.5s ease;
  }
  #nav-list-mobile .nav-link {
    margin-bottom: 20px;
  }
  #nav-list-mobile .nav-link::after {
    top: -25px;
  }
  #nav-list-mobile .nav-link:hover {
    color: #F4F7FB;
  }
  #nav-list-mobile .nav-link:hover::after {
    height: 30px;
  }
}

.bx {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

@media screen and (max-width: 960px) {
  .bx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bx #menu-mobile {
    width: 32px;
    height: auto;
  }
  .bx .bar {
    height: 3px;
    margin-bottom: 4px;
    width: 100%;
    background-color: #EDF1F7;
    display: block;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .bx #bar1 {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .bx #bar3 {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  .bx .change .bar {
    background-color: white;
  }
  .bx .change #bar1 {
    -webkit-transform: translateY(5px) rotateZ(-45deg);
            transform: translateY(5px) rotateZ(-45deg);
  }
  .bx .change #bar3 {
    -webkit-transform: translateY(-9px) rotate(45deg);
            transform: translateY(-9px) rotate(45deg);
  }
  .bx .change #bar2 {
    opacity: 0;
  }
  .bx .change {
    display: block;
  }
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-social svg {
  cursor: pointer;
  margin-left: 16px;
  width: 24px;
}

.nav-social svg path,
.nav-social svg circle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-social svg:hover path,
.nav-social svg:hover circle {
  fill: #F02A2F;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.sticky {
  background: linear-gradient(110deg, #0A0C10 25%, rgba(11, 12, 16, 0.8) 50%, #0A0C10 70%);
  z-index: 1000;
  position: fixed;
  -webkit-animation: animateSticky 0.5s ease;
          animation: animateSticky 0.5s ease;
}

@-webkit-keyframes animateSticky {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  from {
    -webkit-transform: translateY(-96px);
            transform: translateY(-96px);
  }
}

@keyframes animateSticky {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  from {
    -webkit-transform: translateY(-96px);
            transform: translateY(-96px);
  }
}

.logo-spiderman {
  fill: transparent;
  -webkit-animation: logo-spiderman 12s ease infinite alternate;
          animation: logo-spiderman 12s ease infinite alternate;
}

@-webkit-keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #EA1D22;
  }
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #EA1D22;
  }
}

.logo-spiderman-menu {
  fill: #EDF1F7;
  -webkit-animation: logo-spiderman-menu 4s ease;
          animation: logo-spiderman-menu 4s ease;
}

@-webkit-keyframes logo-spiderman-menu {
  0% {
    stroke-width: 1;
    stroke-dasharray: 1 100;
    fill: transparent;
    stroke: #B31317;
  }
  20% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
  }
  60% {
    stroke-width: 0.3;
    fill: #EA1D22;
  }
  100% {
    stroke: #EDF1F7;
    fill: #EDF1F7;
  }
}

@keyframes logo-spiderman-menu {
  0% {
    stroke-width: 1;
    stroke-dasharray: 1 100;
    fill: transparent;
    stroke: #B31317;
  }
  20% {
    stroke-width: 1;
    stroke-dasharray: 100 0;
  }
  60% {
    stroke-width: 0.3;
    fill: #EA1D22;
  }
  100% {
    stroke: #EDF1F7;
    fill: #EDF1F7;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}
/*# sourceMappingURL=style.css.map */